<div class="vud-widget vud-widget-upanddown" id="{{ id }}">
  <div class="up-score clear-block">
    {% if show_links == true %}
      {% if show_up_as_link == true %}
        <a href="{{ link_up }}" rel="nofollow" class="{{ link_class_up }}" title="{% trans %}Vote up!{% endtrans %}">
      {% endif %}
      <div class="{{ class_up }}" title="{% trans %}Vote up!{% endtrans %}"></div>
      <div class="element-invisible">{% trans %}Vote up!{% endtrans %}</div>
      {% if show_up_as_link == true %}
        </a>
      {% endif %}
    {% endif %}
    <span class="up-current-score">{{ up_points }}</span>
  </div>

  <div class="down-score clear-block">
    {% if show_links == true %}
      {% if show_down_as_link == true %}
        <a href="{{ link_down }}" rel="nofollow" class="{{ link_class_down }}" title="{% trans %}Vote down!{% endtrans %}">
      {% endif %}
      <div class="{{ class_down }}" title="{% trans %}Vote down!{% endtrans %}"></div>
      <div class="element-invisible">{% trans %}Vote down!{% endtrans %}</div>
      {% if show_down_as_link == true %}
        </a>
      {% endif %}
    {% endif %}
    <span class="down-current-score">{{ down_points }}</span>
  </div>
  {% if show_reset == true %}
    <a href="{{ link_reset }}" rel="nofollow" class="{{ link_class_reset }}" title="{{ reset_long_text }}">
      <div class="{{ class_reset }}">
        {{ reset_short_text }}
      </div>
    </a>
  {% endif %}
</div>
